<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Input</title>
</head>
<body>
    <h1>View Status</h1>
    <table border="2">
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Gender</td>
            <td>Age</td>
            <td>Place</td>
        </tr>
        {% for j in data%}
        <tr>
            <td>{{j.name}}</td>
            <td>{{j.email}}</td>
            <td>{{j.gender}}</td>
            <td>{{j.age}}</td>
            <td>{{j.place}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>